@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            img{
                width: 80px;
                height: 80px;
                border-radius: 2rem;
                margin: 20px;
            }

            h1{
                color: #fff;
            }
        }
    }
    
    .cart{
        margin: 20px;

        i{
            font-size: 30px;
            color: #fff;
        }
    }

    .stuff_cart{
        display: none;
        width: 200px;
        height: 300px;
        background-color: rgb(0, 221, 99);
        position: absolute;
        right: 60px;
        top: 60px;
    }

    .stuff_cart.show{
        display: flex;
    }
}